
.body{
  display: block;
}

#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: rgb(70, 69, 69);
}



.carousel-inner {
  max-height: 39rem;
}

#local {
  background-color: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 50%;
  margin-left: 100px;
  margin-top: 150px;
}

#numero-local div {
  padding: 0 20px 0 0;
  height: 48px;
}

#numero-local div:not(:last-child) {
  border-right: 2px solid #f3f3f3;
}

#numero-local div:not(:first-child) {
  padding-left: 20px;
}

#numero-local p {
  margin: 0%;
}

#bg-contactos {
  position: relative;
  top: -130px;
}

#seccion-contacto {
  background-color: #1b2a4e;
  min-height: 500px;
  position: relative;
}

#contenedor-formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50, -50);
  background: #fbfafa;
  border-radius: 5px;
  max-width: 200px;
}

#titulo-fomrulario {
  color: #f3f3f3;
}
.footer {
  background: #1b2a4e;
  min-height: 100px;
}

.footer p {
  color: #f3f3f3;
  text-align: center;
}

#icono i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

.containercard{
  width: 100%;
  max-width: 1200px;
  margin: 30px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: auto;
  
  
}

.containercard .cards{
  width: 330px;
  height: 330px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  padding: 5px;
  text-align: center;
  transition: all0 0.25s;
  background-color: rgba(88, 91, 247, 0.178);

}
 .cards:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.103);


}

.containercard .cards img{
  width: 220px;
  height: 220px;
}

.containercard .cards h5{
  font-weight: 600;
}

.containercard .cards p{
  padding: 0 3rem;
  font-size: 16px;
  font-weight: 300;
  
}
.containercard .cards a{
  font-weight: 700;
  text-decoration: none;
  color:rgba(1, 14, 77, 0.781);
  margin: 15px;
}





.main{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1px;
  padding: 5%;
  background-color: rgb(248, 245, 245);
  background-size: cover ;
  background-attachment: fixed;
}
.contenedor{
  width: 100%;
  padding:15px;
}
.formulario{
  background: #fff;
  margin-top: 158px;
  padding: 5px;
}
h1{
  text-align: center;
   color: #204db8;
   font-size: 30px;
}


input[type="text"],
input[type="password"]{
  font-size: 20px;
  width: 52%;
  padding: 10px;
  border: none;
}
.input-contenedor{
  margin-bottom: 15px;
  border: 0.5px solid rgb(41, 4, 172)
}
.icon{
  min-width: 90px;
  text-align: center;
  color:#999;
  margin: 5px;
}
.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:#1b2a4e ;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: cadetblue;


}


.link{
  text-decoration: none;
  color:#1b2a4e;
  font-weight: 600;
}
.link:hover{
  color:cadetblue;
}
@media(min-width:768px) {

  .formulario{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
  
}

.sng{
  background-color: #215adf;
  
}

